<table class="chat">
<% for event in @events -%>
  <tr>
    <td class="n" style="color: <%= colored_nick(event.nick) %>;"><%=h event.nick -%></dt>
    <td class="c"><%=h event.content -%></dd>
  </tr>
<% end %>
</table>
