html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #333;
}

div, body {
  margin: 0;
  padding: 0;
}

#log {
  width: 60%;
  float: left;
  padding: 0 10px;
  background-color: #fff;
  font: 10px Tahoma,Verdana,sans-serif;
}

#meta {
  float: left;
  color: #fff;
  background-color: #333;
  padding: 10px;
}

dl.chat {
  width: 100%;
  margin: 0;
  padding: 0;
}

.chat dt {
  width: 10%;
  float: left;
  margin: 0;
  font-weight: bold;
  text-align: right;
  padding: .1em 5px .1em 10px;
}

.chat dd {
  width: 80%;
  float: left;
  margin: 0;
  padding: .1em 10px .1em 5px;
}

